<h1>Tiêu đề</h1>
<p>Haaland bắt đầu chơi chuyên nghiệp từ tháng 5/2016, khi khoác áo Bryne tại giải hạng Nhì Na Uy. Anh đi lên từ lò đào tạo CLB này. Haaland không ghi được bàn nào trong 16 trận chơi cho đội một Bryne. Tuy nhiên, anh có 18 bàn trong 14 trận chơi cho đội trẻ, đủ để gây ấn tượng với đội hạng nhất Molde.</p>